HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/


### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.classpath
.factorypath
.project
.settings/
.vscode/
fhir-bridge-server/tests/robot/_resources/variables/__pycache__/sut_config.cpython-311.pyc
fhir-bridge-server/tests/report.html
fhir-bridge-server/tests/output.xml
fhir-bridge-server/tests/log.html
log/output.xml
log/report.html
log/log.html

*-local.yml
keystore/
logs/

*.log
.attach_pid*

id_file
# Python
venv
*.venv
.pytest_cache
*.pyc
__pycache__/

# Robot Tests
results/
log.html
output.xml
report.html
.pabotsuitenames

# VSCode REST Client
# files for local usage only!
local*.http

mapping-output.json
