HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
.classpath
.factorypath
.project
.settings/


*-local.yml
keystore/
logs/

*.log
.attach_pid*

id_file
# Python
venv
*.venv
.pytest_cache
*.pyc
__pycache__/

# Robot Tests
results/
log.html
output.xml
report.html
.pabotsuitenames

# VSCode REST Client
# files for local usage only!
local*.http
